* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dde5f4;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.3s linear;
}

.signUi {
    border: 2px solid #dde5f4;
    border-radius: 20px;
    padding: 30px;
    background-color: #f1f7fe;
    box-shadow:  0px 5px 10px  #dde5f4; 
}

h1 {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 30px;
}

.Name {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}

.Name input {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #333;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field input {
    padding: 10px;
    margin: 10px;
    outline: none;
    border: 2px solid #333;
}

.lowerDiv {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 30px;
}

.lowerDiv p {
    text-align: center;
    text-transform: capitalize;
}

.lowerDiv input {
    padding: 10px;
    font-size: 700px;
}

.btn {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 17px;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 30px;
    font-weight: 600;
    background-color: #3e4684;
    cursor: pointer;
    color: #f1f7fe;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer h5 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
}

footer a {
    text-decoration: none;

}